/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* PAGE */
.page {
  padding: 60px;
  text-align: center;
}

/* FORM */
input, textarea {
  width: 250px;
  padding: 10px;
}

button {
  padding: 10px 20px;
}